/********************************************************
	RTL Right - to - Left Styles
********************************************************/

body, th,
#search_filters .js-search-filters-clear-all,
body#checkout section.checkout-step #customer-form .form-control-label, body#checkout section.checkout-step #delivery-address .form-control-label, body#checkout section.checkout-step #invoice-address .form-control-label, body#checkout section.checkout-step #login-form .form-control-label,
body#checkout section.checkout-step .radio-block,
.quickview .modal-footer,
#subcategories ul {
    text-align: right;
}
label,
.label,
.products .all-product-link {
    text-align: left;
}

@media (min-width: 544px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, {float: right;}
}
@media (min-width: 768px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {float: right;}
}
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {float: right;}
	.header-top .menu .sub-menu{
		    padding: 20px 0px 20px 10px;
	}
}
@media (min-width: 1200px) {
	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-1=6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11 {float: right;}
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
.contact-rich .icon,
.products-selection .display li,
#block-contact_list li i.material-icons,
.news-social,
#ctbannercmsblock .cmsbanners .one-half,
#ctsubbannercmsblock .subbanners .one-third,.footer-container li span,
#ctservicecmsblock .service_container .service-area .service-third,
#header .header_logo,#header .header-nav .left-nav {
    float: right;
}

.pagination .page-list,
.footer-after .payement_logo_block,
body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
    float: left;
}
#subcategories ul li{
	float: right;
    margin-left: 10px;
    margin-right: 0;
}
/******* Header ********/
.header-top .top-menu > li span.more_category {
    float: left;
}
.top-menu .sub-menu ul[data-depth="1"] > li{ margin-left: 0px; margin-right: 20px; }
#header .header-nav .right-nav,
#header .blockcart {
    float: left;
}
#header .user-info .language-selector li a {
    margin-right: 0;
    margin-left: 7px;
}
#header .user-info .currency-selector li a {
    margin-right: 0;
    margin-left: 9px;	
}
#header .header-nav .left-nav #ctnavcmsblock {
    padding-left: 0;
    padding-right: 20px;
    background-position: right 0 top 19px;
}
#header .header-nav #links_block_top #ct_toplink li:after {
    left: 0;
    right: auto;
}
#ctnavcmsblock {
    float: right;
}
#product-modal .modal-content .modal-body .product-images {
	margin-left: 0;
	margin-right: 15px;
}
#header .user-info{
	float: left;
}

#header .user-info .dropdown-menu{ left: 0px; right: auto; text-align: right; }
.header-top .search-widget form input[type=text] {
    padding-left: 50px;
    padding-right: 10px;
}
#product_comments_block_tab div.comment div.comment_author {
	float: right;
    text-align: right;
}
#product_comments_block_tab div.comment div.comment_details {
    overflow: hidden;
    border-right: 1px solid #dfdfdf;
	border-left: 0;
    text-align: right;
}
.product-tabcontent .tabs .nav-tabs {
    float: right;
}
#header .search-widget form input[type=text]{
    padding-left: 130px;
    padding-right: 20px;
}
#header .user-info .user-info-title {
    padding-left: 0;
    padding-right: 58px;
    text-align: right;
}
#header .blockcart {
    margin-left: 0;
    margin-right: 30px;
}
#header .blockcart .blockcart-header>a.shopping-cart {
    text-align: right;
    padding-right: 58px;
    padding-left: 0;
}
#header .blockcart .blockcart-header>a.shopping-cart:before {
    right: 0;
    left: auto;
}
#header .user-info .user-info-title:before {
    right: 0;
    left: auto;
}
#header .blockcart .blockcart-header > a.shopping-cart .mobile_count {
    left: -4px;
    right: auto;
}
#header .vertical-menu {
    float: right;
}
#ctverticalmenublock .block_title .dropdown-arrow {
    float: right;
    padding-left: 15px;
    padding-right: 0;
}
.vertical-menu #ctverticalmenublock .block_title, .vertical-menu #ctverticalmenublock .block_title {
    text-align: right;
}
.vertical-menu .top-menu li a[data-depth="0"], .vertical-menu .top-menu li a[data-depth="0"] {
    padding-left: 15px;
    padding-right: 20px;
	text-align: right;
}
.vertical-menu .top-menu .sub-menu-arrow:after {
    content: "\f104";
}
.vertical-menu .top-menu .sub-menu {
    left: auto;
    right: 100%;
    transform-origin: right center 0;
}
.vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li {
    float: right;
    margin-left: 0;
    margin-right: 20px;
}
.header-top .menu>.top-menu {
    padding-left: 0;
    padding-right: calc(19% - 10px);
}
.header-top-inner .menu {
    text-align: right;
}
.tabs {
	margin: 0;
}
.tabs .pull-right {
    float: left;
}
#product_comments_block_tab div.comment div.comment_author {
	padding-left: 30px;
}
#product_comments_block_tab div.comment_details ul {
	float: right;
}
.search-widget form button[type=submit] {
    left: 0px;
    right: auto;
	text-align: right;
}
#header ul.dropdown-menu {
    left: 0;
    right: auto;
    text-align: right;
}
#header .header-nav .language-selector span img.lang-flag {
    padding-left: 3px;
    padding-right: 0;
}
#header .header-nav .language-selector:after {
    left: 0;
    right: auto;
}
#header .header-nav .currency-selector {
    padding-left: 0;
    padding-right: 15px;
}
#header .header-nav .language-selector .dropdown-arrow:before { padding-left: 0px; padding-right: 3px; }
#header .header-top .header-cms-block {
    text-align: right;
    float: right;
}
#header .header-nav .blockcart {
    margin-left: 0px;
    padding-left: 0px;
}
#header .cart_block {
    left: 0px;
    right: auto;
}
#header .cart_block  .cart-item .cart-image {
    float: right;
    margin-left: 12px;
    margin-right: 0px;
}
#header .cart_block  .cart-item .cart-info .remove-from-cart {
    left: 0px;
    right: auto;
}
#header .cart_block  .cart-item .cart-info {
    text-align: right;
    padding-right: 0px;
}
#header .cart_block  .cart-item .cart-info .product-quantity {
    padding-left: 5px;
    padding-right: 0px;
}
#header .header-top .header-cms-block .header-cms { padding-left: 0px; padding-right: 42px; background-position: right -2px; }
#header .header-top .header-cms-block .header-cms:hover {
    background-position: right -61px;
}
.top-menu .sub-menu .menu-banners{ margin-left: 0px; margin-right: 20px; }
.top-menu .sub-menu .menu-banners .menu-banner{ float: right; }
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="2"] li a {
    padding-left: 0px;
	padding-right: 20px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="3"] li a {
    padding-left: 0px;
	padding-right: 30px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="4"] li a {
    padding-left: 0px;
	padding-right: 40px;
}
#header .header-nav #links_block_top #ct_toplink li a {
    padding-left: 0;
    padding-right: 20px;
}
#header .header-nav #links_block_top #ct_toplink li:first-child a {
    background-position: right 0 top -617px;
}
#header .header-nav #links_block_top #ct_toplink li:first-child a:hover {
    background-position:right 0 top -695px;
}
#header .header-nav #links_block_top #ct_toplink li:nth-child(2n) a {
    background-position: right 0 top -154px;
}
#header .header-nav #links_block_top #ct_toplink li:nth-child(2n) a:hover {
    background-position: right 0 top -231px;
}
#header .header-nav #links_block_top #ct_toplink li:nth-child(3n) a {
    background-position:right  0 top -309px;
}
#header .header-nav #links_block_top #ct_toplink li:nth-child(3n) a:hover {
    background-position:right 0 top -386px;
}
/******* Product ********/

ul.product-flags li.on-sale {
    left: 10px;
    right: auto;
}
ul.product-flags li.new,
ul.product-flags li.online-only {
	left: 15px;
    right: auto;
}
.products .product_list {
    padding: 0px;
}
#products .products .list li.product_item .center-block {
    text-align: right;
	padding-left: 0;
    padding-right: 25px;
}
.products .product_list li.product_item {
    float: right;
}
.product-quantity .qty, .product-quantity #quantity_wanted,
.product-quantity .input-group-btn-vertical {
    float: right;
	margin-left: 4px;
}
.product-quantity {margin-right: 0;}
.product-quantity .add {
    float: right;
    margin-right: 0;
    margin-left: 0;
}
.products-selection .display li#grid{ margin: 5px 0 0 5px;}
#product-modal .modal-content .modal-body .arrows .arrow-up,
#product-modal .modal-content .modal-body .arrows .arrow-down {
    left: 20px;
    right: auto;
}
.viewed-products .customNavigation, .crosssell-products .customNavigation, .productscategory-products .customNavigation, .product-accessories .customNavigation {
    left: 10px;
	right:auto;
}
.products-sort-order .select-title {
    margin-left: 0;
    margin-right: 25px;
}
.products .product-miniature .discount-percentage, .products .product-miniature .discount-amount {
	left: 15px;
	right: auto;
}
#product #content .product-leftside ul.product-flags li.on-sale {
    right: 15px;
    left: auto;
}
.special-products .special-wrapper .products .thumbnail-container {
	float: right;
}
.special-products .special-wrapper .products .product-description {
	float: left;
	text-align: right;
}
.special-products .products .product_list li.item .outer-functional, 
.special-products .products .product_list li.product_item .outer-functional {
	float: right;
}
.products .product_list li .outer-functional {
    right: 15px;
    left: auto;
}
.products-section-title {
    text-align: right;
}
.tabs .nav-tabs {
    float: left;
    margin-right: 0;
    text-align: left;
    margin-left: 50px;
}
#ctcategorytabs .customNavigation {
    left: 10px;
    right: auto;
}
/******* General ********/

ul,
ol {
    padding-right: 0;
}
#right-column {
    padding-right: 15px;
    padding-left: 0px;
	float:left;
}
#left-column {
    padding-right: 0;
    padding-left: 15px;
	float: right;
}
#block-reassurance ul li .block-reassurance-item{ 
	border-right: 3px solid #dfc7c3;
	border-left: 0px;
}
.layout-left-column #content-wrapper{ padding-left:0px; padding-right:15px; }
.layout-right-column #content-wrapper{ padding-left:15px; padding-right:0px; }
.top_button {
    left: 25px;
    right: auto!important;
}
.comments_note div.star, #productCommentsBlock div.star {
	float: right;
}

.products .product_list li .btn.add-to-cart.view_page {
    padding-left: 0;
    padding-right: 0;
}
.products .product_list li .btn.add-to-cart.view_page:before {
    padding-left: 7px;
}

.modal-dialog button.close {
	float: left;
}
body#checkout section.checkout-step .payment-options .custom-radio,
#conditions-to-approve .float-xs-left {
	float: right !important;
}
.sitemap ul.nested {
    margin-left: 0px;
	margin-right: 20px;
}
.has-discount .discount {
	margin-left: 0;
	margin-right: 10px;
}
.product-discount .regular-price {
	margin-right: 0px;
}
.owl-wrapper-outer, .flexslider {
    direction: ltr!important;
}
.flexslider .caption-description {
    left: auto;
    right: 100px;
}
.tabs .nav-tabs .nav-item {
    margin-right: 3px;
}
.block_newsletter form .col-xs-12 {
    padding-left: 0px;
    padding-right: 80px;
}
.pull-xs-right,
.cart-summary-line .value {
    float: left !important;
}
.pull-xs-left {
    float: right !important;
}
.block_newsletter form input.btn {

}
#block-reassurance img {
    margin-left: 10px;
    margin-right: 0px;
}
.btn-primary .material-icons,
.btn-secondary .material-icons,
.btn-tertiary .material-icons {
    margin-right: 0px;
    margin-left: 5px;
}
.block-categories .block_content .collapse-icons {
    right: auto;
    left: 0px;
}
.custom-checkbox input[type="checkbox"] + span {
    margin-left: 3px;
    margin-right: 0px;
}
.products-selection .display {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}
.products-selection .sort-by {
    text-align: left;
    margin-left: 0px;
	padding: 0;
}
.pagination .page-list {
}
.pagination a .material-icons {
    margin-left: 0px;
    margin-right: -4px;
}
.products-sort-order .dropdown-menu {
    left: -10px;
    right: auto;
    text-align: right;
}
.product-variants > .product-variants-item select{ padding-left: 0px; padding-right: 8px; }
#blockcart-modal .cart-content {
    padding-right: 2.5rem;
    padding-left: 0;
}
#blockcart-modal .divide-right, #order-items {
    border-left: 1px solid #ddd;
    border-right: 0px;
}
#blockcart-modal .cart-content button {
    margin-right: 0;
    margin-left: 0.3125rem;
}
.cart-summary-line .label {
    float: right;
}
body#checkout .custom-checkbox span,
body#checkout section.checkout-step .custom-radio{	
    margin-left: 8px;
    margin-right: 0px;
}
.done{
    margin-left: 10px;
    margin-right: 0;
}
.modal-header .close{
	left: 0;
	right: auto;
}
.block-categories .category-sub-menu li[data-depth="1"] {
	margin-right:10px;
	margin-left: 0;
}
.page-footer .account-link{ 
    margin-left: 1rem;
    margin-right: 0;
}
body#checkout section.checkout-step .delete-address .delete, body#checkout section.checkout-step .delete-address .edit, body#checkout section.checkout-step .edit-address .delete, body#checkout section.checkout-step .edit-address .edit{
	padding-right: 0px;
	padding-left: 22px;
}
#blockcart-modal .modal-title{ text-align: right !important; }
.search-widget form input[type=text] {
    padding-left: 50px;
    padding-right: 9px;
}
#ctservicecmsblock .service_container .service-area .service-third:last-child {
    padding-left: 0;
    padding-right: 40px;
}
#ctservicecmsblock .service_container .service-area {
    text-align: right;
}
#ctservicecmsblock .service_container .service-area .service-fourth .service-icon {
	float: right;
}
#ctservicecmsblock .service_container .service-area .service-fourth .service-content {
	 margin-left: 0;
    margin-right: 55px;
    text-align: right;
}
#ctservicecmsblock .service_container .service-area .service-fourth:after {
    left: 15px;
    right: auto;
}
#ctservicecmsblock .service_container .service-area .service-fourth {
	float: right;
}
#ctservicecmsblock .service_container .service-area .service-fourth.service4 {
    padding-left: 0;
    padding-right: 40px;
}
#ctservicecmsblock .service_container .service-area .service-fourth.service1 {
    padding-left: 40px;
    padding-right: 0;
}
#cttestimonialcmsblock {
    float: right;
    padding-left: 0;
    padding-right: 45px;
}
#cttestimonialcmsblock h5:before {
    right: -60px;
    left: auto;
    background-position: right 0 top 4px;
}
#cttestimonialcmsblock h5 {
    text-align: right;
}
#cttestimonialcmsblock .testimonial-area ul#testimonial-carousel li.slider-item .product_inner_cms,
#cttestimonialcmsblock .testimonial-area ul#testimonial-carousel li.slider-item .cms_face .title {
    text-align: right;
}
#cttestimonialcmsblock:after {
    left: 0;
    right: auto;
}
#cttestimonialcmsblock .testimonial_container .testimonial-area ul#testimonial-carousel li.item .cms_face .name a {
	padding-right: 0px;
	padding-left: 10px;
}
#cttestimonialcmsblock .testimonial_container .testimonial-area ul#testimonial-carousel li.item .cms_face .testimonial-image {
    float: right;
}
#cttestimonialcmsblock .testimonial_container .testimonial-area ul#testimonial-carousel li.item .cms_face .title {
    text-align: right;
    padding-left: 0;
    padding-right: 20px;
}
#cttestimonialcmsblock .testimonial_container .testimonial-area ul#testimonial-carousel li.item .cms_face .subheading:before {
    padding-left: 5px;
    padding-right: 0;
}
#cttestimonialcmsblock .owl-controls {
    text-align: right;
}
.home-center-wrapper .product-wrapper .products .customNavigation {
    left: 0;
    right: auto;
}
.home-center-wrapper .product-wrapper .products .product_list li .product_thumbnail {
    float: right;
}
.home-center-wrapper .product-wrapper .product-description {
    text-align: right;
    float: right;
    padding-left: 10px;
    padding-right: 20px;
}
.blog-item .blog-content-wrap .blog-shortinfo {
    text-align: right;
}
.lastest_block .customNavigation {
    left: 15px;
    right: auto;
}

#footer .block_newsletter .block_content {
    float: left;
}
.page-my-account #content .links a i{  margin-left: 10px; margin-right: 0px;  }
.product-cover .layer .zoom-in{right: auto;  left: 1px; }
body#checkout section.checkout-step .address{ margin-left: 0px; margin-right: 15px; }
#contact-rich .block_content .data{ margin-left: 0px; margin-right: 30px; }
#contact-rich .block_content .icon{ float: right; }
#left-column .products-block ul li .product_thumbnail, #right-column .products-block ul li .product_thumbnail{ float: right; margin-right: 0px; margin-left: 10px;}
.block-contact li i{ float: right; }
#stores .page-stores .store-item-container .divide-left{ border-left: 0px;  border-right: 1px solid #ddd;  }
.footer-container #ctfootercmsblock{ 
	padding-left: 15px;
    padding-right: 55px;
    right: 25%;
    left: auto;
}
.footer-container .links {
    padding-right: 30px;
    padding-left: 15px;
}
.footer-container .links:after {
    right: 0;
    left: auto;
}
.footer-container .links.block-contact {
    padding-right: 30px;
    padding-left: 15px;
}
.footer-container #ctfootercmsblock:before, .footer-container .links.block-contact:before {
    left: 10px;
    right: auto;
}
.footer-container .links.block-contact:before {
    right: 10px;
    left: auto;
}
#footer .block_newsletter .description {
    padding-left: 0;
    padding-right: 60px;
    text-align: right;
    float: right;
    background-position: right 0 top 10px;
}
#footer .block_newsletter .block_content {
    float: right;
    margin-left: 0;
    margin-right: 110px;
}
.block-social{ 
	left: 15px;
    right: auto;
 }
.footer-container #ctfootercmsblock .footerlogo{  background-position: right 0; }
#payement_logo_block_left {
    float: right;
}
#footer .payement_logo_block h4.title {
    padding-left: 0;
    padding-right: 60px;
    background-position: right 0;
}
#footer .payement_logo_block a {
    padding-left: 0;
    padding-right: 60px;
}
.blog-detail .extra-blogs ul {
    padding-left: 0px;
	padding-right: 25px;
}
.blog-item .readmore .btn { text-align: right; }

.homeblog-latest .blog-item .blog-meta, .secondary-blog .blog-item .blog-meta {
    right: 0;
    left: auto;
}
.homeblog-latest .blog-item .blog-meta .blog-hit {
	border-left: 1px solid #fff;
}
/*.homeblog-latest .blog-item .blog-meta .blog-created, 
.secondary-blog .blog-item .blog-meta .blog-created, 
.homeblog-latest .blog-item .blog-meta .blog-hit, 
.secondary-blog .blog-item .blog-meta .blog-hit {
    float: right;
}*/
.homeblog-latest .blog-item .blog-meta .blog-hit:after, 
.secondary-blog .blog-item .blog-meta .blog-hit:after {
	right: 10px;
	left: auto;
}
.blog-meta > span {
	margin-right: 0;
}
.blog-meta .fa {
    padding-right: 0px;
    padding-left: 5px;
}
.blog-item .blog-content-wrap {
    text-align: right;
}
/*********** Responsive **************/
@media (max-width:1459px){
	#ctservicecmsblock .service_container .service-area .service-fourth.service4 {
		padding-left: 0;
		padding-right: 30px;
	}
	#ctservicecmsblock .service_container .service-area .service-fourth.service1 {
		padding-left: 30px;
		padding-right: 0;
	}
	.home-center-wrapper .product-wrapper .product-description {
		padding-right: 10px;
	}
	.footer-container .links.block-contact,.footer-container .links {
		padding-right: 15px;
	}
	#footer .payement_logo_block h4.title {
		padding-right: 50px;
	}
	#footer .payement_logo_block a {
		padding-right: 45px;
	}
	.footer-container #ctfootercmsblock {
		padding-right: 30px;
	}
	.header-top .menu>.top-menu {
		padding-right: calc(24% - 10px);
	}
}
@media (max-width: 1199px) {
	#ctservicecmsblock .service_container .service-area .service-fourth .service-icon {
		float: none;
	}
	#ctservicecmsblock .service_container .service-area .service-fourth .service-content {
		margin-right: 0;
		text-align: center;
	}
	#header .blockcart .blockcart-header>a.shopping-cart,
	#header .user-info .user-info-title {
		padding: 0;
	}
	#header .blockcart {
		margin-right: 15px;
	}
	.header-top .search-widget {
		padding-left: 0;
		padding-right: 50px;
	}
	#header .header-nav .right-nav {
		float: none;
	}
	#cttestimonialcmsblock {
		padding-right: 0;
	}
	#ctservicecmsblock .service_container .service-area .service-fourth.service4 {
		padding-left: 0;
		padding-right: 15px;
	}
	#ctservicecmsblock .service_container .service-area .service-fourth.service1 {
		padding-left: 15px;
		padding-right: 0;
	}
	#footer .payement_logo_block h4.title {
		padding-right: 0;
	}
	#footer .payement_logo_block a,
	.footer-container #ctfootercmsblock {
		padding-right: 0;
	}
	.footer-container #ctfootercmsblock{
		right:24%;
	}
	#footer .block_newsletter .block_content {
		margin-right: 20px;
	}
}
@media (max-width: 991px) {
	.social-sharing,
	.header-top .top-menu > li{ text-align: right; }
	#header .user-info .user-info-title{ margin-left:0px; }
	.product-quantity .add{	margin-right:0px; }
	.block_newsletter form .col-xs-12{ padding-right: 0px; }
	#content-wrapper,
	.layout-left-column #content-wrapper,
	.layout-right-column #content-wrapper, #left-column, #right-column{ padding-left:0px; padding-right:0px; }
	#header .header_logo { float: none; }
	#header .search-widget{ float: left; }
	#header .search-widget form button[type=submit] i{
		border-left: 1px solid #dfdfdf;
		border-right: 0px;
	}
	#header .search-widget form input[type=text]{
		padding-left: 40px;
    	padding-right: 20px;
	}
	#header .search-widget .search_toggle{
		left: 0px;
		right: auto;
	}
	#header .mobile-menu{ }
	#header .header-top .menu-icon .cat-title {
		padding-left: 0px;
		padding-right: 30px;
		text-align: right;
	} 
	#mobile_top_menu_wrapper .mobile-menu-inner{
		left: auto;
		right: -100%;
		text-align: right;
	}
	#mobile_top_menu_wrapper.slide .mobile-menu-inner{ 
		left: auto;
		right: 0px;
	}
	#page.active:before{
		left: auto;
		right: 300px;
	}
	
	#header .top-menu a[data-depth="0"] {
		padding-left: 0px;
		padding-right: 10px;
	}
	#header .top-menu .sub-menu li > a {
		padding-left: 0px;
		padding-right: 15px;
	}
	#header .top-menu .sub-menu ul[data-depth="2"] li a {
		padding-left: 0px;
		padding-right: 25px;
	}
	#header .top-menu .sub-menu ul[data-depth="3"] li a {
		padding-left: 0px;
		padding-right: 35px;
	}
	#header .top-menu .sub-menu ul[data-depth="4"] li a {
		padding-left: 0px;
		padding-right: 45px;
	}
	#links_block_top.links .navbar-toggler .fa-icon:before {
		padding-left: 0;
		padding-right: 5px;
	}
	#header .header-nav #ct_toplink {
		right: 0;
		left: auto;
	}
	#header .header-nav #links_block_top #ct_toplink li {
		text-align: right;
	}
	#header .header-nav #links_block_top #ct_toplink li a{
		padding:0;
	}
	 .header-top .menu-icon .cat-title {
		text-align: right;
		padding: 9px 35px 9px 0px;
	  }
  	.header-top .menu-icon  .cat-title:after {
		right: 0px;
		left: auto;
	 }
	 #links_block_top .title.h3.block_title {
		padding-left: 15px;
		padding-right: 0;
	}
	  .home-center-wrapper .product-wrapper .products .customNavigation {
			left: 10px;
			right:auto;
		}
	.footer-after .copyright,
	.footer-after .payement_logo_block {
		text-align: center;
		float: none;
	}
	.footer-container #ctfootercmsblock{ padding-left: 15px; }
	#ctslidertopcmsblock .box-content-cms .cms-icon {
		margin: 0 auto;
	}
	#ctservicecmsblock .service_container .service-area {
		float: none;
		text-align: center;
	}
	#footer .block_newsletter .title {
		padding: 0;
	}
	.footer-container .links.block-contact {
		padding-right: 15px;
	}
	#payement_logo_block_left {
		text-align: right;
	}
	.footer-container .links.block-contact, .footer-container .links {
		padding: 0;
	}
	#footer .block_newsletter .block_content {
		margin-right: 0;
	}
}
@media (max-width: 767px) {
	.products-sort-order .select-title{
		    margin-right: 0;
	}
	#header .blockcart .blockcart-header {
		padding:0px 0px 0px 0px; 
	}
	#header .blockcart .blockcart-header > a.shopping-cart {
		padding-right: 0;	
	}
	#header .blockcart .blockcart-header,#header .blockcart .blockcart-header > a.shopping-cart{ padding: 0px; }
	#ctservicecmsblock .service_container .service-area .service-fourth {
		border: none;
	}
	#header .header-nav .right-nav {
		float: none;
	}
	.tabs .nav-tabs {
		text-align: center;
		margin-left: 0;
		    float: none;
	}
	#ctcategorytabs .customNavigation {
		left: 0;
		right: 0;
	}
	#ctbannercmsblock .cmsbanners .one-half {
		float: none;
	}
}

@media (max-width: 650px) {
	.special-products .special-wrapper .products .thumbnail-container {
		float: none;
	}
	.special-products .special-wrapper .products .product-description {
		float: none;
		text-align: center;
	}
	.special-products .products .product_list li.item .outer-functional, 
	.special-products .products .product_list li.product_item .outer-functional {
		float: none;
	}
}
@media (max-width:575px){

	#ctservicecmsblock .service_container .service-area .service-fourth.service1,
    #ctservicecmsblock .service_container .service-area .service-fourth.service2,
	#ctservicecmsblock .service_container .service-area .service-fourth.service3 ,
	#ctservicecmsblock .service_container .service-area .service-fourth.service4 {
    	  padding:0;
	}
}
@media (max-width:500px){
	.product-tabcontent .tabs .nav-tabs{
		float:none;
	}
}
@media (max-width: 480px) {
	#products .products .list li.product_item .thumbnail-container, #products .products .list li.product_item .center-block{
		    text-align: center;	
	}
	.subcategory-heading,
	#subcategories ul{
		text-align: center;
	}
	#subcategories ul li{
	    float: none;
    	display: inline-block;
	}
	#header .search-widget .search_toggle{ right: auto; left: -60px; }
}
@media (max-width: 575px) {
	#products .products .list li.product_item .center-block {
		width: 100%;
		text-align: center;
		padding-right: 0;
	}
	
}